@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
button {
    width:50px;

    background-color: #f8585b;

    border: none;

    border-radius: 10px;

    color:#fff;

    padding: 3px 0;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 15px;

    margin: 4px;

    cursor: pointer;
}
button:hover{
	background: rgba(0,79,255,0.9);
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0,79,255,0.6);
}
body {
  font-family: 'Nanum Brush Script', cursive;
}
